.yourFightsWrapper .fightwalletWrap{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.totalPoints{
    margin-left: 100px;
}
.totalPoints h1{
    font-family: 'UFCSans', "Arial Narrow", Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
}


@media (max-width: 767px){

    .yourFightsWrapper .fightwalletWrap{
        justify-content: center;
        align-items: center;
        width: 100%;
        gap:20px;
       }
    .totalPoints{
        margin-left: 0;
        flex-basis: 50%;
    }
    .totalPoints h1{
        font-size: 16px;
    }
    .yourFightsWrapper .fightWallet h1{
        font-size: 17px !important;
    }
    
    .yourFightsWrapper .fightWallet h2{
        font-size: 17px !important;
    }
     
    .myspecialpromotion{
        margin-top:-30px;
    }

   .yourFightsWrapper .fightItemOne .transformed-div h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 9px;
    padding-right: 10px;
   }
   .yourFightsWrapper  .transformed-div {
    height: 50px;
    width: 170px;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
}

.yourFightsWrapper  .transformed-div-two {
    height: 50px;
    width: 170px;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
}
.yourFightsWrapper  .fightItem .fightersImages {
    top: 2px;
    left: -7px;
    gap: 2px;
}
}