@import url('https://fonts.googleapis.com/css2?family=Trebuchet+MS&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

@font-face {
    font-family: 'UFCSans';
    src: url('../../Fonts/UFCSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'UFCSans';
    src: url('../../Fonts/UFCSans-CondensedBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
  }
  
  @font-face {
    font-family: 'UFCSans';
    src: url('../../Fonts/UFCSans-CondensedMedium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-stretch: condensed;
  }
  


  @font-face {
    font-family: 'UfcSansRegular';
    src: url('../../Fonts/UFCSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'UFCSans';
    src: url('../../Fonts/UFCSans-RegularOblique.woff2') format('woff2');
    font-weight: normal;
    font-style: oblique;
  }
  

.homeFirst{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../Assets/two-updated.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;

}
.homeFirst h1{
    font-size: 60px;
    line-height: 60px;
    color: #fff;
    font-family: 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-text-shadow: 6px 5px 6px #201e1f;
    -moz-text-shadow: 6px 5px 6px #201e1f;
    -o-text-shadow: 6px 5px 6px #201e1f;
    text-shadow: 6px 5px 6px #201e1f;
    text-align: center;
    margin-top:85px;
}
.homeFirst h2{
    color: #d30c23;
    font-size: 65px;
    line-height: 79px;
    text-align: center;
    padding: 27px 0;
    width: 1120px;
    font-family: 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-text-shadow: 6px 5px 6px #201e1f;
    -moz-text-shadow: 6px 5px 6px #201e1f;
    -o-text-shadow: 6px 5px 6px #201e1f;
    text-shadow: 6px 5px 6px #201e1f;
}



.homeSecond{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 80vh;
    background-color: black;
    gap:40px;
}
.homeSecond .second-main-heading{
    font-size: 40px;
    line-height: 60px;
    color: #2d1e22;
    text-transform: uppercase;
    text-align: center;
    
    font-family: 'UFCSans', Arial, sans-serif;
  font-weight: bold; /* Ensure bold weight is applied */
  font-style: normal; /* Ensure normal style is applied */
  font-stretch: condensed; /* Ensure condensed style is applied */
  font-style: italic;
    background-color: #ffc000;
    padding: 20px;
    margin-bottom: 10px;
    
   }
.homeSecond .fightswrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap:30px;
   
} 
.fightItem{
    display: flex;
    flex-direction: column;
    gap:5px;
    position: relative;
}
.fightItemOne{
    display: flex;
    
}
.transformed-div {
    height: 50px;
    width: 450px;
    background-color: #fff;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
    display: flex;
    align-items: center;
    
}
.fightItemOne .transformed-div h1{
    text-transform: uppercase;
    color: #d30c23;
    margin-left: 33%;

    font-family: 'UFCSans', Arial, sans-serif;
    font-weight: bold; /* Ensure bold weight is applied */
    font-style: normal; /* Ensure normal style is applied */
    font-stretch: condensed; /* Ensure condensed style is applied */
    

    font-size: 24px;
    }
.transformed-div-two {
    height: 50px;
    width: 450px;
    background-color: #cbcbcb;
    clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
    margin-left: -15px;
    display: flex;
    flex-direction: column;
    padding-left: 28px;
    padding-top: 5px;
    gap:1px;
}
.transformed-div-two-partOne{
    display: flex;
    gap: 10px;
}

.transformed-div-two-partOne h1{
    font-size: 21px;
    text-transform: uppercase;
    color: black;

    font-family: 'UFCSans', Arial, sans-serif;
    font-weight: bold; /* Ensure bold weight is applied */
    font-style: normal; /* Ensure normal style is applied */
    font-stretch: condensed; /* Ensure condensed style is applied */
    
}
.transformed-div-two-partTwo{
    display: flex;
    gap: 10px;
}

.transformed-div-two-partTwo h1{
    font-size: 17px;
    font-family: 'UfcSansRegular', Arial, sans-serif;

    font-weight: 700;
    text-transform: uppercase;
    color: #388218;
}

.transformed-div-two-partTwo p{
    font-size: 17px;
    font-family: 'UfcSansRegular', Arial, sans-serif;

    font-weight: 900;
    text-transform: uppercase;
    color: black;
}




.fightItemTwo{
    display: flex;
}
.transformed-div-three {
    height: 46px;
    width: 600px;
    background-color: #c5c5c5;
    margin-right: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    }
    .transformed-div-three p{
        
        font:bold 14px / 15px 'Trebuchet Ms', sans-serif;
        text-shadow: none;
    
    }
    .noMatch{
      font:bold 14px / 15px 'Trebuchet Ms', sans-serif;
      color:#fff;
      font-size: 18px;
    }
    .member-header-image{
      z-index: 99999;
    }
    
    .member-header-image img{
      z-index: 99999;
    }
    .transformed-div-four {
        height: 46px;
        width: 200px;
        background-color: #c5c5c5;
        clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 20px;
    }
    .transformed-div-four h1{
    font-size: 19px;
    font-family: 'UFCSans', Arial, sans-serif;
    font-weight: bold; /* Ensure bold weight is applied */
    font-style: normal; /* Ensure normal style is applied */
    font-stretch: condensed; /* Ensure condensed style is applied */
    
    text-transform: uppercase;
    color: #d30c23;
    }
    .transformed-div-four p{
    font-size: 18px;
    font-family: 'UfcSansRegular', Arial, sans-serif;

    font-weight: 900;
    
    }



.fightItem .fightersImages{
    position: absolute;
    top:-12px;
    left:-17px;
    z-index: 1;
    display: flex;
    gap:2px;
}
.fighterOne{
    width:75px;
    height: 75px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border:3px solid blue;
    
}
.fighterOne img{
    width:100%;
    object-fit: cover;
    border-radius: 50%;
    height: 100%;
    
    
}


.fighterTwo{
    width:75px;
    height: 75px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border:3px solid red;

    
}
.fighterTwo img{
    width:100%;
    object-fit: cover;
    border-radius: 50%;
    height: 100%;
    
}


.fightswrap .fightItem:nth-of-type(1) .transformed-div-two {
    background-color: #decf00;
  }
  











  .homeThird{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-color: black;
    padding: 70px 0;
  }
  .homeThird .thirdHeadingOne{
    font-size: 32px;
    line-height: 60px;
    color: #c0c0c0;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-text-shadow: 6px 5px 6px #201e1f;
    -moz-text-shadow: 6px 5px 6px #201e1f;
    -o-text-shadow: 6px 5px 6px #201e1f;
    text-shadow: 6px 5px 6px #201e1f;
    text-align: center;
   
  }
  
  .homeThird h2{
    font-size: 28px;
    line-height: 60px;
    color: #c0c0c0;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-text-shadow: 6px 5px 6px #201e1f;
    -moz-text-shadow: 6px 5px 6px #201e1f;
    -o-text-shadow: 6px 5px 6px #201e1f;
    text-shadow: 6px 5px 6px #201e1f;
    text-align: center;
   
  }
  .homeThird h2 span{
    color: #388218;
    font-family: 'UfcSansRegular', Arial, sans-serif;

  }
  .leaderboardHeading{
    width:100%;
    text-align: center;
    border-bottom: 2px solid #c0c0c0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-top:20px;
  }
  .leaderboardHeading h3{
    border-radius: 15px 15px 0 0;
    border:2px solid #c0c0c0;
    width:200px;
    padding:10px;
    background-color: rgb(8, 8, 105);



    font-size: 22px;
    color: #c1ce11;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
   }

  .homeThird .controls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:25px;
    margin: 20px 0;;
  }
  .homeThird .controls h5{
    font-size: 22px;
    line-height: 60px;
    color: #c0c0c0;
    font-family: 'UFCSans', Arial, sans-serif;
  font-weight: bold; /* Ensure bold weight is applied */
  font-style: normal; /* Ensure normal style is applied */
  font-stretch: condensed; /* Ensure condensed style is applied */
    text-transform: uppercase;
    -webkit-text-shadow: 6px 5px 6px #201e1f;
    -moz-text-shadow: 6px 5px 6px #201e1f;
    -o-text-shadow: 6px 5px 6px #201e1f;
    text-shadow: 6px 5px 6px #201e1f;
    text-align: center;
  }
  .homeThird .controls .active{
    color: #e19500;
  }

  .leaderboardItemsWrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:25px;
  }
  .leaderboardItem{
   position: relative;
   height: 50px;
   width: 650px;
   background-color: #c5c5c5;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-radius: 15px;
   border:1px solid gray;
   padding-left: 70px;
   padding-right: 15px;
  }
  .leaderboardItem .leaderboard-item-image{
    width:70px;
    height: 70px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border:3px solid #fff;
    position: absolute;
    top:-13px;
    left: -10px;;

    
}
.leaderboardItem .leaderboard-item-image img{
    width:100%;
    object-fit: cover;
    border-radius: 50%;
    height: 100%;
    
}
.leaderboardItem h1{
    font-size: 18px;
    color: black;
   
    font-family: 'UfcSansRegular', Arial, sans-serif;

    text-transform: uppercase;
    
  
}