@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
.header{
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 40px;
    width: 100%;
    position:fixed;
}
.logoimg{
    width: 80px;
}
.logoimg img{
    width: 100%;
}

.anchorlinks{
    color: #fff;
    font-family: 'Bungee', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-decoration: none;
    margin:0 20px;
}
.sideLinkswrap{
    display: flex;
    flex-direction: column;
    gap:5px;
}
.sideLinks{
    color: #d2d2d2;
    font-family: 'Bungee', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideLinks i{
    margin-right: 5px;
    font-size: 28px;
    font-weight: 100;
    
    }

.activeLink {
    color: #ffc000;
  }











.togglercheckbox{
    position: absolute;
    top:40px;
    left:300px;
    z-index: 99999;
    width:30px;
    height: 30px;
}


.admin-header{
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    width:230px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height:100%;
    align-items: center;
    padding:15px 0;
    overflow: auto;
}
.anchorLinksWrapperAdmin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.anchorLinksWrapperAdmin h1{
    color: #ffc000;
    font-family: UFCSans, Arial Narrow, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
}
.anchorLinksWrapperAdmin .anchorlinksAdmin{
    color: #fff;
    font-family: 'Bungee', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-decoration: none;
    margin:10px 0;
}
.sideLinksAdmin{
    color: #fff;
    font-family: 'Bungee', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-decoration: none;
    margin:10px 0;
}
.matchHeading{
    margin-top:40px;
}


.topheadercheckbox{
    width:20px;
    height: 20px;
    position: absolute;
    left:300px;
    z-index: 99999;
    top:40px;
}